@import "tailwindcss";

:root {
  --teal-deep: #0B3B35;
  --goa-green: #0B6839;
  --hot-pink: #FF0080;
  --bright-yellow: #FEE101;
  --warm-white: #FFFBE8;
  --pure-white: #FFFFFF;
  --black: #000000;
}

@theme {
  --color-teal-deep: var(--teal-deep);
  --color-goa-green: var(--goa-green);
  --color-hot-pink: var(--hot-pink);
  --color-bright-yellow: var(--bright-yellow);
  --color-warm-white: var(--warm-white);
  --color-pure-white: var(--pure-white);
  --color-black: var(--black);
  
  --font-sans: var(--font-imbue), sans-serif;
  --font-mono: var(--font-victor-mono), monospace;
}

body {
  background-color: var(--teal-deep);
  color: var(--warm-white);
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
